/*INDEX*/
@font-face
{
   font-family: "miso";
   src: url("/assets/miso.eot");
   src: url("/assets/miso.eot?#amomiso") format("embedded-opentype"),
        url("/assets/miso.woff") format("woff"),
        url("/assets/miso.ttf") format("truetype"),
        url("/assets/miso.svg#IDdelafuente") format("svg");
}
p{
  line-height: 150%;
  font-family: "miso";
  font-size: 16px;
}
h1 {
font-family:"miso";
font-weight: bold;
font-size: 56px;
color: #000;
margin-top: 180px;
}
h5{
  font-family: "miso";
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin-top: 80px;
}
.btn{
  background-color: #006BB1;
}

.back{
  background-image: url("http://pisosymuros.triplea.cl/images/Fondos/piso-02.jpg");
    background-image: url("http://pisosymuros.triplea.cl/images/Fondos/piso-11.jpg");
    background-image: url("http://pisosymuros.triplea.cl/images/Fondos/piso-23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
/*  width: 1600px;*/
  background-position: left;
/*  height:1024px;*/
height: 100vh;
  overflow-x:hidden;
}
/*--------------------------espacios---------------*/
nav{
  background-color: #EE192C;
}
.dropdown-button{
  margin-right: 20px;
  background-color: #E10024;
}
/*cambiar tamaño del dropdown list*/
/*.dropown-content{
  width: 260px !important;
  margin: 5px !important;
  padding: 5px !important;
  color: black !important;
}*/
.dropdown-content:active{
  white-space: nowrap;
  position: absolute;
  top: 55px;
  left: 5px;
  opacity: 1;
  display:block;
  padding-right: 30px;

}
.car{
  color: #fff;
}
.fondo{
  /*
   background-image: url('https://previews.123rf.com/images/lenatru/lenatru1210/lenatru121000012/15890078-Edad-piso-gris-terraza-de-madera-Foto-de-archivo.jpg');
   */
/*background-size: cover;*/
  /*  width: 1920px !important;
  /*  height:1080px !important;*/
/*    height:90vh;
    width: 1920px;
    height: 1080px;*/
    overflow-x:hidden !important;
    overflow-y:hidden !important;
    border:1px solid;

}
.brand-logo img{
  width: 45px;
  height: 40px;
  margin-top: 5px;
}
.left-sidebar {
  width: 230px;
  /*height: 1080px;*/
  /*top: 60px;
  bottom: 0;
  position: absolute;
  left: 0;*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
}
a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
a:hover  {
font-size:26px;
transition: all 0.3s ease;
color: #E10024;
font-weight: bold;
}
h5:hover {
font-size: 40px;
transition: all 0.3s ease;
color: #E10024;
}
.main-container {
  height: 100%;
  width: 100%;
/*  padding-left: 300px;*/
  padding-right: 2%;
  position:relative;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 100%;
/*  height: 100px;*/
  margin-top: 20px;
  margin-left: -20px;
}
#dos{
margin-left: 25px;
}
.segundo{
  margin-top: 10px;
}
.title{
  /*margin-left: 42px;*/
  text-align: center;
  font-size: 18px;
  font-family: "miso"
}
span{
  font-size: 18px;
  margin-left: -10px;
  font-family: "miso"
}
.close{
  float: right;
}
/*---------------------------------CARRUSEL-------------*/
.card{
  position: absolute;
  left: 30px;
  /*top: 30px;*/
  width: 75%;
  font-size: 20px;
  font-family: "miso";

  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.51);
}

.disable_link{
  pointer-events: none;
  cursor: default;
}

.text_link_selected{
  font-weight: bolder;
  color: black;
}
input[type="radio"]+label:before{
  border: none !important;
  visibility: hidden;
}
input[type="radio"]+label:after{
  border: none !important;
  visibility: hidden;
}
label.like-label{
  width: 40px !important;
  height: 40px !important;
}
label.like-label > i{
  margin-left: -35px;
}
input[type="radio"]:checked + label > i {
  color: red;
}
.slick-prev:before {
  font-size: 30px;
}
div.slick-slide > div.card{
  width: 60%;
}
span#carrito-bagde{
  display: inline-block !important;
  float: none !important;
  margin-left: 15px !important;
  line-height: 22px !important;
  height: 20px !important;
  background-color: white !important;
  color: #E10024 !important;
  border-radius: 14px !important;
}
i.carrito-icon{
  margin-left: -17px;
  position: absolute;
}
/*cambiar color a los botones*/
.waves-effect{
  background-color: #006BB1 !important;
  color: #fff !important;
}
.btn-small{
  background-color: #006BB1 !important;
}

.seleccione_text_default
{

  border-style: dotted;
  border-color:#A4A4A4;
  margin-top:80px;
  margin-right:10%;
  overflow:hidden; width:80%;
}

.seleccione_text_label
{
font-size:36;
margin-top:100px;
margin-bottom: :100px;
text-align: :center;

}

.circleCat{
  width: 100%;

  margin-top: 20px;
  margin-left: -20px;
}


/*LOADING */
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 250px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
